<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Microservices"
            extensions="java"
            icon="icons/spring.png"
            contributorClass="io.oneclicklabs.microservices.plugin.MicroservicesPageEditorContributor"
            class="io.oneclicklabs.microservices.plugin.MicroservicesPageEditor"
            id="io.oneclicklabs.microservices.plugin.MicroservicesPageEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="Microservices"
            id="microservices-plugin">
      </category>
      <!--<wizard
            name="BootApp"
            icon="icons/spring.png"
            category="microservices-plugin"
            class="io.oneclicklabs.microservices.bootapp.BootAppProjectNewWizard"
            id="io.oneclicklabs.microservices.bootapp.BootAppProjectNewWizard">
      </wizard>-->
      <wizard
            name="RestController"
            icon="icons/spring.png"
            category="microservices-plugin"
            class="io.oneclicklabs.microservices.plugin.wizards.RestControllerWizard"
            id="io.oneclicklabs.microservices.plugin.wizards.RestControllerWizard">
      </wizard>
       <wizard
            name="SoapEndpoint"
            icon="icons/spring.png"
            category="microservices-plugin"
            class="io.oneclicklabs.microservices.plugin.wizards.SoapWizard"
            id="io.oneclicklabs.microservices.plugin.wizards.SoapWizard">
      </wizard>
       <wizard
            name="SwaggerConfig"
            icon="icons/swagger.png"
            category="microservices-plugin"
            class="io.oneclicklabs.microservices.plugin.wizards.SwaggerConfigWizard"
            id="io.oneclicklabs.microservices.plugin.wizards.SwaggerConfigWizard">
      </wizard>
       <wizard
            name="Interceptor"
            icon="icons/spring.png"
            category="microservices-plugin"
            class="io.oneclicklabs.microservices.plugin.wizards.InterceptorWizard"
            id="io.oneclicklabs.microservices.plugin.wizards.InterceptorWizard">
      </wizard>
   </extension>
</plugin>
